.navbar ul {
    list-style: none;
  }
  .navbar li {
    list-style: none;
  }
@media (min-width: 1024px) {
    .lg\:w-11\/12 {
        width: 100%;


        
    }
    
    .navbar-end {
        width: 50%;
        justify-content: space-around;
    }
}

@media (min-width: 768px) {
    .md\:fixed {
        position: fixed;
    }
}