/* 
.book-parcel-form {
    margin-left: 20;
  }
  
  .book-parcel-form h2 {
    color: #333;
  }
  
  .book-parcel-form form {
    display: flex;
    flex-direction: column;
  }
  
  .book-parcel-form label {
    margin-bottom: 10px;
  }
  
  .book-parcel-form input {
    width: 100%;
    padding: 8px;
    margin-top: 4px;
  }
  
  .book-parcel-form button {
    background-color: #01c8ff;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
  }
   */